<%- include("header");-%>
<h2>this is about page </h2>
<p>Lorem ipsum dolor sit
     amet consectetur 
     adipisicing elit.
      Velit nulla eos 
      aspernatur, 
      eligendi est ad 
      harum distinctio 
      sed nisi 
      doloremque officia
       culpa deleniti,
        suscipit modi
         tempore tempor
         accusamus
          veritatis cum.</p>
      <%- include("footer");-%>